[submodule "external-secrets"]
	path = external-secrets
	url = https://github.com/openshift/external-secrets.git
	branch = v2.5.0
[submodule "bitwarden-sdk-server"]
	path = bitwarden-sdk-server
	url = https://github.com/openshift/external-secrets-bitwarden-sdk-server.git
	branch = v0.6.0
[submodule "external-secrets-operator"]
	path = external-secrets-operator
	url = https://github.com/openshift/external-secrets-operator.git
	branch = release-1.2
